<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}"/>
    </head>

    <body>
        <div class="navbar">
            <a href="{% url 'home' %}" class="navbar-brand">Домой</a>
            <a href="{% url 'log' %}" class="navbar-item">Журанл сообщений</a>
            <a href="{% url 'about' %}" class="navbar-item">О нас</a>
            <a href="{% url 'contact' %}" class="navbar-item">Контаты</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>© 2021</p>
            </footer>
        </div>
    </body>
</html>